<header id="top-header" class="site-header">
  <div class="header-inner">
    <a class="brand" href="/" title="Return to home page">CSE Motors</a>
    <nav id="tools" aria-label="User account tools">
      <a href="/account/login" title="Click to log in">My Account</a>
    </nav>
  </div>
</header>