

<main id="inv-management">
  <h1><%= title %></h1>

  <%- messages() %>

  <section class="inv-management-options">
    <p>Use the options below to manage the vehicle inventory.</p>
    <ul>
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
  </section>
</main>


