

<main id="inv-management">
  <h1><%= title %></h1>

  <%- messages() %>

  <section class="inv-management-options">
    <p>Use the options below to manage the vehicle inventory.</p>
    <ul>
      <li><a href="/inv/add-classification">Add New Classification</a></li>
      <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
    </ul>
    <h2>Manage Inventory</h2>
    <p>Select a classification to see the vehicles in that group.</p>

    <%- classificationSelect %>

    <table id="inventoryDisplay"></table>

    <noscript>JavaScript must be enabled to use this page.</noscript>

  </section>
</main>

<script src="../../js/inventory.js"></script>


