<main class="section">
  <!-- Error Title -->
  <h1><%= title %></h1>

  <!-- Error Message -->
  <p class="notice"><%- message %></p>

  <!-- Botón de volver -->
  <p><a class="btn" href="/">Go back home</a></p>
</main>
